* {
  margin: 0;
}

.nav-planet {
  font-family: "Barlow Condensed", sans-serif;
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  justify-content: start;
  padding: 0;
  li {
    list-style: none;
    nav-item {
      // padding-bottom: 10px;
    }
    nav-item:hover {
      border-bottom: 3px var(--soft-gray) solid;
    }
    nav-item:active {
      border-bottom: 3px var(--white) solid;
    }
  }
}
