<ul class="nav-bar">
  <li>
    <nav-item (click)="page = 'home'" (click)="onSavePage()" class="nav-item" [number]="'00'" [text]="'HOME'">
    </nav-item>
  </li>

  <li>
    <nav-item (click)="page = 'destino'" (click)="onSavePage()" class="nav-item" [number]="'01'" [text]="'DESTINATION'">
    </nav-item>
  </li>

  <li>
    <nav-item (click)="page = 'equipe'" (click)="onSavePage()" class="nav-item" [number]="'02'" [text]="'CREW'">
    </nav-item>
  </li>

  <li>
    <nav-item (click)="page = 'tecnologia'" (click)="onSavePage()" class="nav-item" [number]="'03'"
      [text]="'TECHNOLOGY'">
    </nav-item>
  </li>
</ul>