.profession {
  font-size: 32px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  color: var(--gray);
}

.name {
  font-size: 56px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  color: var(--white);
}

.description {
  font-family: "Barlow Regular", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  color: var(--soft-lilac);
  max-width: 444px;
}
